# Logs
logs/
*.log
npm-debug.log*

# Env
.env
.env.local
*.local

# Dependencies
node_modules/
.pnp/
.pnp.js

# Build
.next/
out/
build/
dist/
.serverless/

# Storage (runtime media)
server/storage/
web/.next/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
